* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant', serif;
  background: #FFFFFF;
  width: 1860px;
  min-height: 1960px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  position: sticky;
  top: 0;
  width: 1860px;
  height: 80px;
  background: #FFFFFF;
  z-index: 100;
}

.nav-frame {
  position: absolute;
  top: 27px;
  left: 55px;
  width: 347px;
  height: 26px;
}

.nav-frame a {
  position: absolute;
  top: 3px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  text-decoration: none;
}

.nav-frame .about     { left: 0; }
.nav-frame .catalog   { left: 72px; }
.nav-frame .archive   { left: 152px; }
.nav-frame .contacts  { left: 233px; }
.nav-frame .info      { left: 321px; }

.nav-frame a {
  position: absolute;
  overflow: visible; 
}

.nav-frame a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.nav-frame a:hover::after {
  width: 100%;
}

.logo {
  position: absolute;
  top: 21px;
  left: 868px;
  width: 124px;
  height: 39px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #000000;
  white-space: nowrap;
}

.cart-link {
  position: absolute;
  top: 25px;
  left: 1776px;
  width: 29px;
  height: 29px;
  display: block;
}

.cart-link img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
  border: none;
}

.categories-menu {
  position: sticky;
  top: 80px;
  width: 263px;
  height: 560px;
  left: 55px;
  z-index: 90;
}

.categories-menu .category-link {
  position: absolute;
  left: 0;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  color: #000000;
  text-decoration: none;
  overflow: visible;
}

.categories-menu .category-link:nth-child(1)  { top: 30px; }  
.categories-menu .category-link:nth-child(2)  { top: 59px; }  
.categories-menu .category-link:nth-child(3)  { top: 88px; }  
.categories-menu .category-link:nth-child(4)  { top: 117px; }  
.categories-menu .category-link:nth-child(5)  { top: 146px; }  
.categories-menu .category-link:nth-child(6)  { top: 175px; }  
.categories-menu .category-link:nth-child(7)  { top: 204px; } 
.categories-menu .category-link:nth-child(8)  { top: 233px; }  
.categories-menu .category-link:nth-child(9)  { top: 262px; }  
.categories-menu .category-link:nth-child(10) { top: 291px; }  
.categories-menu .category-link:nth-child(11) { top: 320px; }  
.categories-menu .category-link:nth-child(12) { top: 349px; }  
.categories-menu .category-link:nth-child(13) { top: 378px; }  
.categories-menu .category-link:nth-child(14) { top: 407px; }  
.categories-menu .category-link:nth-child(15) { top: 436px; }  

.categories-menu .category-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.categories-menu .category-link:hover::after {
  width: 100%;
}

.categories-grid {
  position: absolute;
  top: 110px; 
  left: 423px;
  width: 1382px;
  height: 1696px;
}

.category-card {
  position: absolute;
  width: 670px;
  height: 827px;
  text-decoration: none;
  display: block;
  overflow: hidden; 
}

.category-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}

.category-card .category-label {
  position: absolute;
  top: 375px;
  left: 264px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 1;
  color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.category-card.base .category-label     { left: 259px; }
.category-card.couture .category-label  { left: 184px; }
.category-card.vintage .category-label  { left: 198px; }

.category-card.couture,
.category-card.vintage {
  top: 869px;
}

.category-card.vintage {
  left: 712px;
}

.category-card.base {
  left: 712px;
}

.category-card:hover video {
  opacity: 0.55;
}

.category-card:hover .category-label {
  opacity: 1;
}

.site-footer {
  position: absolute;
  top: 1856px;
  width: 1860px;
  height: 104px;
  background: #FFFFFF;
}

.footer-logo {
  position: absolute;
  top: 27px;
  left: 50px;
  width: 67px;
  height: 50px;
  object-fit: contain;
  display: block;
}

.footer-copyright {
  position: absolute;
  top: 42px;
  left: 1695px;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  white-space: nowrap;
}

.footer-nav {
  position: absolute;
  top: 42px;
  left: 615px;
  width: 629px;
  height: 19px;
}

.footer-nav .footer-link {
  position: absolute;
  top: 0;
  font-family: 'Cormorant', serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  text-decoration: none;
  overflow: visible;
}

.footer-nav .footer-link:nth-child(1) { left: 8px; }     
.footer-nav .footer-link:nth-child(2) { left: 115px; }   
.footer-nav .footer-link:nth-child(3) { left: 230px; }   
.footer-nav .footer-link:nth-child(4) { left: 435px; }   
.footer-nav .footer-link:nth-child(5) { left: 558px; }   

.footer-nav .footer-link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  transition: width 0.3s ease;
}

.footer-nav .footer-link:hover::after {
  width: 100%;
}