    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background: #000000;
      width: 1860px;
      height: 958px;
      margin: 0 auto;
      font-family: 'Cormorant', serif;
      position: relative;
      overflow: hidden;
    }

    .gallery-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 1860px;
      height: 80px;
      background: transparent;
      z-index: 100;
    }

    .back-btn {
      position: absolute;
      top: 23px;
      left: 55px;
      width: 24px;
      height: 24px;
      font-size: 24px;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo-frame {
      position: absolute;
      top: 0px;
      left: 868px;
      width: 124px;
      height: 80px;
    }

    .main-logo {
      position: absolute;
      top: 12px;
      left: 0;
      font-family: 'Cormorant', serif;
      font-weight: 400;
      font-size: 32px;
      line-height: 1;
      color: #FFFFFF;
    }

    .sub-logo {
      position: absolute;
      top: 51px;
      left: 31px;
      font-family: 'Cormorant', serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      color: #FFFFFF;
    }

    .page-title {
      position: absolute;
      top: 21px;
      left: 1691px;
      font-family: 'Cormorant', serif;
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      color: #FFFFFF;
    }

    .photo-gallery {
      position: absolute;
      top: 0;
      left: 0;
      width: 1860px;
      height: 958px;
      overflow: hidden;
      z-index: 5;
    }

    .gallery-track {
      display: flex;
      height: 100%;
      width: max-content;
    }

    .gallery-track img {
      width: 789px;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }

    .photo-gallery:not(.active) {
      display: none;
    }

    .video-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 1860px;
      height: 958px; 
      display: none;
      z-index: 10;
      cursor: pointer;
    }

    .video-container.active {
      display: block;
    }

    .video-container.video-muted {
      cursor: url('../img/volume.png') 24 24, pointer;
    }

    .video-container.video-unmuted {
      cursor: url('../img/volume\ up.png') 24 24, pointer;
    }

    .video-container video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      outline: none;
    }

    .control-btn {
      position: absolute;
      font-family: 'Cormorant', serif;
      font-weight: 700;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 110;
    }

    #runwayBtn {
      top: 887px;
      left: 840px;
      width: 89px;
      height: 43px;
      background: transparent;
      color: #FFFFFF;
    }

    #runwayBtn.active {
      background: #FFFFFF;
      color: #000000;
    }

    #videoBtn {
      top: 899px;
      left: 960px;
      width: 49px;
      height: 19px;
      background: transparent;
      color: #FFFFFF;
    }

    #videoBtn.active {
      top: 887px;
      left: 949px;
      width: 71px;
      height: 43px;
      background: #FFFFFF;
      color: #000000;
    }